# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# convex temp directory
.convex-tmp

# typescript
*.tsbuildinfo
next-env.d.ts

# data preparation 
data_preparation/data/intermediate_outputs
data_preparation/data/inputs
data_preparation/data/ARCHIVE
data_preparation/data/output/dataset_statistics
data_preparation/data/output/sentences_by_difficulty
data_preparation/sentence_processor
data_preparation/language_intelligence/output
data_preparation/language_intelligence/utils/output
data_preparation/pipeline.py
**/__pycache__/**



convex/_generated