/Users/paulermler/Documents/Phrasis/new/phrasis-app/data_preparation/data/output/sentences_translated.csv filter=lfs diff=lfs merge=lfs -text
data_preparation/data/output/verification_log.json filter=lfs diff=lfs merge=lfs -text
data_preparation/data/output/translation_cache.csv filter=lfs diff=lfs merge=lfs -text
data_preparation/data/output/sentences_translated.csv filter=lfs diff=lfs merge=lfs -text
